################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin
obj
.vs/Hangman/v16

/bin
/obj
/.vs/Hangman/v16
